:root {
	--heading-font-family: "IBM Plex Mono", monospace;
	--heading-font-weight: 400;
	--body-font-size: 14px;
	--theme-color-primary: rgb(250, 130, 10);

	--cell-size: 14px;
	--input-cell-size: 22px;
	--table-font-size: 11px;
	--input-font-size: 14px;
	--input-text-indent: 6px;
	--input-letter-spacing: 13.6px;
	--body-border-width: 10px;
	--range-thumb-size: 14px;
	--icon-size: 14px;

	--color-body-light: rgb(238, 232, 239);
	--color-body-stripe-light: rgb(242, 236, 243);
	--color-text-light: rgb(50, 50, 50);
	--color-body-border-light: rgb(255, 255, 255);
	--color-source-highlight-light: rgb(126, 255, 148);
	--color-key-highlight-light: rgb(254, 255, 188);
	--color-result-highlight-light: var(--theme-color-primary);
	--color-indicator-bar-light: rgba(255, 255, 255, 0.5);
	--color-input-border-light: rgba(0, 0, 0, 0.25);
	--color-input-border-hover-light: rgba(0, 0, 0, 0.5);
	--color-input-background-light: rgba(255, 255, 255, 1);
	--color-slider-track-light: rgb(100, 100, 100);
	--color-logo-background-light: rgb(255, 255, 255);
	--color-mode-switch-background-light: rgb(48, 48, 48);

	--color-body-dark: rgb(33, 37, 40);
	--color-body-stripe-dark: rgb(29, 33, 36);
	--color-text-dark: rgb(210, 210, 210);
	--color-body-border-dark: rgb(23, 27, 30);
	--color-source-highlight-dark: rgb(126, 255, 148);
	--color-key-highlight-dark: rgb(254, 255, 188);
	--color-result-highlight-dark: var(--theme-color-primary);
	--color-indicator-bar-dark: rgba(255, 255, 255, 0.2);
	--color-input-border-dark: rgba(255, 255, 255, 0.2);
	--color-input-border-hover-dark: rgba(255, 255, 255, 0.4);
	--color-input-background-dark: rgba(0, 0, 0, 1);
	--color-slider-track-dark: rgb(80, 80, 80);
	--color-logo-background-dark: rgb(48, 48, 48);
	--color-mode-switch-background-dark: rgb(23, 27, 30);
}

@media (min-width: 600px) {
	:root {
		--body-font-size: 16px;
		--cell-size: 20px;
		--input-cell-size: 36px;
		--table-font-size: 13px;
		--input-font-size: 16px;
		--input-text-indent: 14px;
		--input-letter-spacing: 26.4px;
		--body-border-width: 20px;
		--range-thumb-size: 18px;
		--icon-size: 20px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: var(--body-font-size);
}

html,
body {
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: var(--heading-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
